html,
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.student-feedback .carousel-control-prev-icon {
    top: calc(50% - 1rem);
    left: -15px;
}

.student-feedback .carousel-control-next-icon {
    top: calc(50% - 1rem);
    right: -15px;
}

.checked {
    color: orange;
}

.bg-carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(29 29 29 / 70%);
    top: 0;
}

.bg-placeholder-img {
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.bg-working-section {
    background: #F4FAFD;
}

.prices {
    color: #289BDE;
}

.courses {
    height: 100%;
    border: 1px solid #E8E8E8;
}


@media (max-width: 576px) {
    #myCarousel .carousel-caption h1 {
        font-size: 25px;
    }

    #myCarousel .carousel-caption p {
        font-size: 15px;
    }
}